<h1>New quote</h1>

<!-- Render the form to create/edit a quote -->
<%= render "form", quote: @quote %>

<br>

<!-- Link to go back to user's quotes -->
<div>
  <%= link_to "Back to quotes", quotes_path %>
</div>
