<!-- Display different heading depending on whether user is admin or not -->
<div style="padding-top: 10px;">
<% if logged_in? && is_administrator? %>
  <h3>Update User Details</h3>
  <% else %>
  <h3>Update Your Details</h3>
  <% end %>
</div>

<!-- Render the user form -->
<%= render "form", user: @user %>

<!-- Provide navigation links to show all users or show user details if admin -->
<% if logged_in? && is_administrator? %>
  <div style="padding-top: 10px;">
    <%= link_to "Show user details", @user %> |
    <%= link_to "Back to users", users_path %>
  </div>
  
<!-- Otherwise, display navigation link to show user details only if standard user -->
<% elsif logged_in? && !is_administrator? %>
  <div style="padding-top: 10px;">
    <%= link_to "Back to user details", @user %>
  </div>
<% end %>