<!-- Admin landing page -->

<!-- Show successful login notice -->
<p style="color: green"><%= notice %></p>

<!-- Welcome the admin -->
<strong><h3>Hello <%= session[:fname] %></h3></strong>
<p>You are currently logged in as admin.</p>