<p style="color: green"><%= notice %></p>
<strong><h3>Hello <%= session[:fname] %></h3></strong>
<p>Welcome back to MyQuote!</p>
<%= link_to "Edit your account details", edit_user_path(session[:user_id]) %>