<!-- About page and information text -->

<h1>About MyQuote</h1>

<p> MyQuote is a website where you can share and find all sorts of quotes! </p>
<p> Sign up and give it a go, it's free! </p>
<br><p>Founded by: Henrik</p>
